/ms-core/ms-core-api/target/
/ms-core/ms-core-impl/target/
/ms-biblio/ms-biblio-api/target/
/ms-biblio/ms-biblio-impl/target/
/ms-core/ms-core-web/target/
/ms-biblio/ms-biblio-web/target/
/biblio/ms-biblio-api/target/
/biblio/ms-biblio-impl/target/
/biblio/ms-biblio-web/target/
/ms-biblio/ms-biblio-web/src/main/filters/
/ms-biblio/ms-biblio-web/nbactions.xml
/ms-biblio/ms-biblio-web/nb-configuration.xml
/nb-configuration.xml
/ms-biblio/nb-configuration.xml
/ms-biblio/ms-biblio-api/nb-configuration.xml
/ms-biblio/ms-biblio-impl/nb-configuration.xml
/nbactions.xml
/ms-biblio/ms-biblio-web/src/main/liberty/config/server.xml
/target/
